@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oxygen+Mono&display=swap');



body
{    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat';
    background-color: white;
}


/* code for complete topnav bar */
.topnav-signup{
    
    overflow: hidden;
    box-shadow:1px 1px white;  
}

 /* code for each  element in topnav  */
.topnav-signup a {
    float: left;
    font: 'Monstserrat';
    color:black;
    text-align: center;
    padding: 2em 2em;
    text-decoration: none;
    font-size: 17px;
  }


/* code for the logo in the topnav */
  .topnav-logo
  {
      float: left;
      color:white;
      text-align: center;     
      text-decoration: none;
  }

  /* code for elements in the rightside of topnav to place it in the right part */
  .topnav-right {
    float: right;  
}





/* this is where the start page styling starts */



/* code for to divide the start page into 2 sections */
section.start-page
{   
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: "bowl content";
}



.startpage-left
{
  text-align: center;
}

/* code for h1 elements in left section of start page */
.startpage-left,h1{
    font: 'Monstserrat';
    text-align: start;
    margin-left: 1.5em;
    font-weight: 600;
    color: black;
    font-size: 2.5em;
}
 
/* code for para in left section of start page */


/* code  for left section complete of start page */
div.startpage-left{
    text-align: start;
    margin-left: 4em;
    color:black;
   
    font-size: 20px;
    margin-top: 3em;
}
/* .startpage-left-writing{
    text-align: start;
    margin-left: 1.5em;
    color: black;
    font-size: 2.5em;
} */

p.firstpage-p
{ 
    margin-bottom: 3em;
    opacity: .7;
    font-size: 19px;
}
input[type=button]
{
   background-color:#2BC155;
   color: white;
   border: none;
   border-radius: 1em;
   padding: 1em 0;
   width: 40%;
   box-shadow: 2px  2px 2px green;
   margin-left: 4em;
   font-weight: bolder;
   font-size: 1em;
   cursor: pointer;
   margin-bottom: 200px;
}


.startpage-image-right
{
    margin-left: 3em;
    margin-top: 6em;
}

/* starting page code ends here */




/* second-page starts from here */



/* this is used to sepearte second page section into half */
section.second-page
    {
    background: linear-gradient(266.85deg, rgba(0, 0, 0, 0.2) 6.9%, rgba(0, 0, 0, 0) 91.95%), #1EAAE7;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: "bowl content";
}

.secondpage-left
{
  text-align: center;
  align-self: center;
}

.secondpage-left,h1{
    
    text-align: start;
  
    color: black;
    
    font-size: 2.5em;
}

.secondpage-left,p{

    text-align: start;
    margin-left: 4em;
    color:black;
    font-size: 1.2em;
    margin-top: 3em;
    margin-bottom: 8em;
}

p.secondpage-p
{
    opacity: .7;
    font-size: 19px;
}


.secondpage-image-right
{   
    margin-left: 3em;
    margin-top: 6em;
}


/* 
code for third page starts */

section.third-page
{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: "bowl content";
}

.thirdpage-right
{
  text-align: center;
  align-self: center;
}

.thirdpage-right,h1{
    
    text-align: start;
    /* margin-left: 6em; */
    color: black;
    
    font-size: 2.5em;
}

.thirdpage-right,p{

    text-align: start;
    margin-left: 4em;
    color:black;
    font-size: 1.2em;
    margin-top: 3em;
}
p.thirdpage-p{
    margin-bottom: 3em;
    opacity: .7;
    font-size: 19px;
}
input[type=button]
{
   background-color:#2BC155;
   color: white;
   border: none;
   border-radius: 1em;
   padding: 1em 0;
   /* margin: 1em; */
   width: 30%;
   box-shadow: 2px  2px 2px green;
   margin-left: 4em;
   font-weight: bolder;
   font-size: 1em;
   margin-top: 1em;
   cursor: pointer;
   
}

.thirdpage-image-left
{   
    margin-left: 3em;
    margin-top: 6em;
}


/* code for fourth page starts */

section.fourth-page
{   background: linear-gradient(266.85deg, rgba(0, 0, 0, 0.2) 6.9%, rgba(0, 0, 0, 0) 91.95%), #1EAAE7;;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-areas: "bowl content";
}

.fourthpage-left
{
  text-align: center;
  align-self: center;
}


.fourthpage-left,h1{
    
    text-align: start;
    color: black;
    font-size: 2.5em;
}

/* forth page paragrapgh code */
.fourthpage-left,p{

    text-align: start;
    /* margin-left: 4em; */
    color:black;
    font-size: 1.2em;
    margin-top: 3em;
    margin-bottom: 8em;
}



p.forthpage-p
{
    opacity: .7;
    font-size: 19px;
}



/* code for button  */


.fourthpage-image-right
{   
    margin-left: 3em;
    margin-top: 6em;
}

/* code for fifth page starts from here*/


/* 
code for get top margin for the word mypfs */
h2.fifthpage-header
{
    margin-top: 100px;
    
}


div.item-fifth
{
    vertical-align: top;
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 250px;
    display: table;
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    
}

div.fifthpage-item{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 30%;
    height: 300px;
}
.fifthpage-img{
    
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50%;

}
.item-des{
    display: block;
    overflow: hidden;
}
.item-head
{
    display: block;
}




/* code for last page starts from here */

section.last-page,h2{
    text-align: center;
    
}

h2.lastpage-header
{
    margin-top: 100px;
    font-weight: bolder;
}


h2.lastpage-text
{
    padding: 1em;
    margin: 2em;
}

button.lastpage-button
{
    background-color:#2BC155;
    color: white;
    border-radius: 1em;
    padding: 1em 0;
    width: 20%;
    font-weight: bolder;
    font-size: 1em;
    margin-top: 1em;
    cursor: pointer;
    margin-bottom: 150px;
}

/* last page footer code */


section.section-footer
{   background: linear-gradient(266.85deg, rgba(0, 0, 0, 0.2) 6.9%, rgba(0, 0, 0, 0) 91.95%), #1EAAE7;;
    display: grid;
    grid-template-columns: 40% 15% 15% 15% 15%;
    grid-template-areas: "bowl content";
}

.footer-left
{
    text-align: center;
    padding: 5em 5em 5em 2em;
}

.footer-right-product
{
    text-align: center;
    vertical-align: middle;
    padding: 5em;
    
}
.footer-right-feature
{
    text-align: center;
    vertical-align: middle;
    padding: 5em;
    
}
.footer-right-Resources
{
    text-align: center;
    vertical-align: middle;
    padding: 5em;
    
}
.footer-right-Company
{
    text-align: center;
    vertical-align: middle;
    padding: 5em;
}